{erl_opts, [debug_info, {i, "include"}, no_debug_info, deterministic]}.
{deps, [
   {eLfq, ".*", {git, "https://github.com/ErlGameWorld/eLfq.git", {branch, "master"}}}
   {eGbh, ".*", {git, "https://github.com/ErlGameWorld/eGbh.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eFaw]}
]}.
