{erl_opts, [debug_info]}.
{deps, [
   {eGbh, ".*", {git, "http://sismaker.tpddns.cn:53000/SisMaker/eGbh.git", {branch, "master"}}},
   {eSync, ".*", {git, "http://sismaker.tpddns.cn:53000/SisMaker/eSync.git", {branch, "master"}}}
]}.

{shell, [
   % {config, "config/sys.config"},
   {apps, [eFaw]}
]}.
